.modal-control {
	position: fixed;
	z-index: 1300;
	inset: 0;
}

.modal-backdrop {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.modal-backdrop.visible {
	opacity: 0.75;
}

.modal-backdrop.hidden {
	opacity: 0;
}

.modal-background {
	height: 100%;
	outline: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-box {
	background-color: #c5a7c5;
	margin: 32px;
	position: relative;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	width: 90vw;
	max-height: calc(100% - 64px);
	min-width: 200px;
	border: 2px solid black;
	box-shadow: 8px 8px 0px #000;
	transform: translateY(100%);
	opacity: 0;
	transition:
		transform 0.3s ease-in-out,
		opacity 0.3s ease-in-out;
}

.modal-box.open {
	transform: translateY(0);
	opacity: 1;
}

.modal-box.close {
	transform: translateY(100%);
	opacity: 0;
}

.modal-header {
	padding: 16px 24px;
	flex: 0 0 auto;
	font-size: 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-close {
	cursor: pointer;
	background-color: transparent;
	font-size: 1.5em;
	color: black;
	border: inherit;
	border-radius: 10px;
	padding: 0;
}

.modal-body {
	padding: 16px 24px;
	flex: 1 1 auto;
	overflow-y: auto;
	border-top: 2px solid black;
}
